= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link')

.sections.edit
  %h2 Update Section

  = form_for(:section, :url => {:action => 'update', :id => @section.id}) do |f|
    %table{:summary => 'Section form fields'}
      %tr
        %th Name
        %td 
          = f.text_field(:name)
      %tr
        %th Position
        %td 
          = f.text_field(:position)
      %tr
        %th Visible
        %td 
          = f.text_field(:visible)
      %tr
        %th Content Type
        %td 
          = f.text_field(:content_type)
      %tr
        %th Content
        %td 
          = f.text_field(:content)
      %tr
        %th Page Id
        %td
          = f.text_field(:page_id)
    .form-buttons
      =submit_tag("Update Subject")
    
  